*{
    margin: 0 auto;
    padding: 0 auto;
}

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: #f1ecea;
}

#cabecera{
    width: 100%;
    height: 15%;
    background-color: #3a251c;
    
}

#barranav{
    width: 100%;
    height: 5%;
    background-color: #b46424;
}

#seccion{
    width: 64%;
    height: 64%;
    text-align: justify;
    background-color:#362f2f ;
   
}

#aside{
    height: 40%;
    float: right;
    position: relative;
    bottom: 60%;
    background-color: #362f2f;
    right: 2%;
   
}

#pie{
    width: 100%;
    height: 10%;
    background-color: #3a251c;
}

.encabezado{
    font-size: 50px;
    padding-top: 5%;
   

}

.navegacion{
    font-size: 10px;
}

.pienav{
    font-size: 30px;
    text-align: center;

}

.texto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-align: justify;
    padding-right: 5%;
    color: wheat;

}

small{
    color: rgb(196, 165, 109);
}

.lado{
    font-size: 15px;
    text-decoration: none;
}

.menu{
    display: inline;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

ul{
    display: inline;
    list-style:none
    
}



img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-color: black;
    margin-left: 5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color:white;
}
